<div class="form-widget" style="width:500px">
    <form  name="userForm" ng-submit="admSignUp()" novalidate>
        <div class="form-group">
            <p class="form-title">SignUp</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Username</label>
            <input type="email" name="email" class="form-control" ng-model="adm.UserId" placeholder="Username" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="adm.Password" ng-minlength="5" placeholder="Password" required/>
            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
            <label>First Name</label>
            <input type="text" name="firstName" class="form-control" ng-model="adm.FirstName" placeholder="First Name" required>
            <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">First Name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
            <label>Last Name</label>
            <input type="text" name="lastName" class="form-control" ng-model="adm.LastName" placeholder="Last Name" required>
            <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">Last Name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.phonenum.$invalid && !userForm.phonenum.$pristine }">
            <label>Phone Number</label>
            <input type="text" name="phonenum" class="form-control" ng-model="adm.PhoneNumber" ng-length="10" placeholder="Phone Number" required>
            <p ng-show="userForm.phonenum.$error.length" class="help-block">Enter valid phone number.</p>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid">Signup</button>
        <div class="form-group">
            <a style="cursor:pointer;" href="#/admin/login">Click here to Login!</a>
        </div>
    </form>
</div>