<div class="form-widget" style="float:left">
    <form name="custLogin" ng-submit="login()" novalidate>
        <div class="form-group">
            <p class="form-title">Login</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : custLogin.email.$invalid && !custLogin.email.$pristine }">
            <label>Username</label>
            <input type="email" name="email" class="form-control" ng-model="user.UserId" placeholder="Username" required>
            <p ng-show="custLogin.email.$invalid && !custLogin.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : custLogin.password.$invalid && !custLogin.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.Password" placeholder="Password" required/>
            <p ng-show="custLogin.password.$invalid && !custLogin.password.$pristine" class="help-block">Password is required.</p>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="custLogin.$invalid">Login</button>
        <div class="form-group">
            <a style="cursor:pointer;" href="#/signup">Not yet signed up?Click here!</a>
        </div>
    </form>
</div>